﻿@model XnForum.Services.Contracts.DTO.Report.ReportedPostDto

<div class="row post">
    <div class="postDiv container">
        <div class="col-md-3">
            @if (Model.Post.UserId != null)
            {
                <a href="@Url.Action("Account", "Account", new {login = Model.Post.UserLogin})">@Model.Post.UserLogin</a><br />
                <a href="@Url.Action("Account", "Account", new {login = Model.Post.UserLogin})">
                    <img src="/Content/Avatars/@Model.Post.UserAvatar" class="userAvatar" />
                </a>
            }
            else
            {
                <span>anon</span><br />
                <img src="/Content/Avatars/unknown.png" class="userAvatar" />
            }
            <br />
        </div>
        <div class="col-md-9">
            @Html.DisplayNameFor(model => model.Post.Date)

            @Html.DisplayFor(model => model.Post.Date)
            <br />
            @Html.DisplayFor(model => model.Post.Text)
        </div>
    </div>
    @if (Model.Post.Files.Any())
    {
        <div class="postFilesDiv container">
            @Html.DisplayNameFor(model => model.Post.Files)
            <ul class="list-group">
                @foreach (var file in Model.Post.Files)
                {
                    <li class="list-group-item">
                        <a href="/Content/PostFiles/@file.FileName">
                            <span class="glyphicon glyphicon-file"></span>
                            @file.FileName
                        </a>
                    </li>
                }
            </ul>

        </div>
    }
    @if (Model.Reports.Any())
    {
        <div class="container">
            Zgłoszenia:
            <ul>
                @foreach (var report in Model.Reports)
                {
                    <li>
                        <a href="@Url.Action("Account", "Account", new {login = report.UserLogin})">@report.UserLogin</a>
                        - @report.Reason.Text
                    </li>
                }
            </ul>
        </div>
    }
    <div class="container">
        <a href="@Url.Action("Post", new {id=Model.Post.Id})" >Przejdź do postu</a>
    </div>
</div>
