﻿@model XnForum.Services.Contracts.DTO.PostEditDto

@{
    ViewBag.Title = "Post";
}

<h3>Edycja przez moderatora</h3>

<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()



        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    }

    @using (Html.BeginForm("PostIgnore", "Moderator"))
    {
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ignoruj" class="btn btn-default" />
            </div>
        </div>
    }
    
    @using (Html.BeginForm("PostDelete", "Moderator"))
    {
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Usuń" class="btn btn-default" />
            </div>
        </div>
    }


</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
