﻿@model XnForum.Services.Contracts.DTO.Moderator.ModeratorReportPageDto
@{
    ViewBag.Title = "Index";
}

Twoje fora:
<ul>
    @foreach (var forum in Model.Forums)
    {
        <li>
            <a href="@Url.Action("Reports", new { id = forum.Id})">@forum.CategoryName / @forum.Name</a>
        </li>
    }
</ul>

Zgłoszenia:


@foreach (var report in Model.ReportedPosts)
{
    @Html.Partial("PostPartial", report)
}

