﻿@model XnForum.Services.Contracts.DTO.CategoryDto

@{
    ViewBag.Title = "CategoryDetails";
}

<h3>Szczegóły kategorii</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Fora:
        </dt>
        <dd>
            <table class="table">
                @foreach (var forum in Model.Forums)
                {
                    <tr>
                        <td>
                            @forum.Name
                        </td>
                        <td class="td-buttons">
                            <a role="button" class="btn btn-default btn-sm" href="@Url.Action("ForumDetails", new {id = forum.Id})">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Szczegóły
                            </a>
                            <a role="button" class="btn btn-default btn-sm" href="@Url.Action("ForumEdit", new {id = forum.Id})">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edytuj
                            </a>
                            <a role="button" class="btn btn-default btn-sm" href="@Url.Action("ForumDelete", new {id = forum.Id})">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Usuń
                            </a>
                        </td>
                    </tr>
                }
            </table>
            <a role="button" class="btn btn-default btn-sm" href="@Url.Action("ForumCreate", new {id = Model.Id})">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj forum
            </a>
        </dd>   
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "CategoryEdit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót", "Index")
</p>
