﻿@model XnForum.Services.Contracts.DTO.CategoryDto

@{
    ViewBag.Title = "CategoryDelete";
}

<h3>Na pewno chcesz usunąć daną kategorię?</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    <span class="text-danger">Usuwając kategorię usuniesz również te fora:</span>
    <ul>
    @foreach (var forum in Model.Forums)
    {
        <li>@forum.Name</li>
    }
    </ul>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
