﻿@model XnForum.Services.Contracts.DTO.ForumBaseDto

@{
    ViewBag.Title = "ForumDetails";
}

<h3>Szczegóły forum</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "ForumEdit", new { id = Model.Id }) |
    @Html.ActionLink("Kategoria", "CategoryDetails", new {id = Model.CategoryId}) | 
    @Html.ActionLink("Powrót", "Index")
</p>
