﻿@model IList<XnForum.Services.Contracts.DTO.CategoryDto>

@{
    ViewBag.Title = "Index";
}

<h2>Struktura forum</h2>

<a role="button" class="btn btn-default btn-sm" href="@Url.Action("CategoryCreate")">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj kategorię
</a>

<table class="table">

    @foreach (var category in Model)
    {
        <tr class="active">
            <th>
                @Html.DisplayFor(modelItem => category.Name)
            </th>
            <td class="td-buttons">
                <div>
                    <a role="button" class="btn btn-default btn-sm" href="@Url.Action("CategoryDetails", new {id = category.Id})">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Szczegóły
                    </a>
                    <a role="button" class="btn btn-default btn-sm" href="@Url.Action("CategoryEdit", new {id = category.Id})">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edytuj
                    </a>
                    <a role="button" class="btn btn-default btn-sm" href="@Url.Action("CategoryDelete", new {id = category.Id})">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Usuń
                    </a>
                </div>
                <div>
                    @using (Html.BeginForm())
                {
                        <a role="button" class="btn btn-default btn-sm" href="@Url.Action("ForumCreate", new {id = category.Id})">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj forum
                        </a>
                        <input type="hidden" name="catId" value="@category.Id" />
                        <button type="submit" name="action:CategoryUp" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        </button>
                        <button type="submit" name="action:CategoryDown" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        </button>
                    }
                </div>
            </td>
        </tr>
        foreach (var forum in category.Forums)
        {
            <tr>
                <td>
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> @forum.Name
                </td>
                <td class="td-buttons">
                    <a role="button" class="btn btn-default btn-sm" href="@Url.Action("ForumDetails", new {id = forum.Id})">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Szczegóły
                    </a>
                    <a role="button" class="btn btn-default btn-sm" href="@Url.Action("ForumEdit", new {id = forum.Id})">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edytuj
                    </a>
                    <a role="button" class="btn btn-default btn-sm" href="@Url.Action("ForumDelete", new {id = forum.Id})">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Usuń
                    </a>
                </td>
            </tr>
        }
    }
</table>
