﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#top-logo{
    background: url(/Content/logo.png);
    background-repeat: no-repeat;
    background-position: center; 
    width:1382px;
    height:292px;
    margin-bottom: 16px;
}

.td-buttons{
    text-align: right;
}

.post{
    border: 1px solid #dcdcdc;
    margin: 10px 0;
}

.forum-info-text{
    text-align: center;
}

.pagination{
    float: right;
}

.userAvatar{
    height: 150px;
    width: 150px;
}

.userAvatarMini {
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

.postDiv{
    padding: 10px 0;
}
.postFilesDiv{
    margin: 10px;
}
.postCreateFile{
    margin: 2px 0;
}

