﻿@model XnForum.Services.Contracts.DTO.PostCreateDto

@using (Html.BeginForm("Thread", "Thread", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ThreadId)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ValidationMessageFor(model => model.Files, "", new { @class = "text-danger" })
                <div id="fileBoxPattern" style="display: none;">
                    <div class="postCreateFile">
                        <a href="#" onclick="$(this).parent('div').remove();return false;">
                            <span class="glyphicon glyphicon-remove"></span>Usuń
                        </a>
                        <input style="display:inline;" type="file" name="fileUpload" multiple />
                    </div>
                </div>

                <button class="btn btn-default" onclick="$(this).before($('#fileBoxPattern').html()); return false;">Dodaj załącznik</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj post" class="btn btn-default" />
            </div>
        </div>
    </div>
}

