﻿@using System.Web.Mvc.Html
@using XnForum.Services.Contracts.DTO
@model XnForum.Services.Contracts.DTO.ThreadDisplayDto

@{
    ViewBag.Title = "Thread";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Forum")">Główna</a></li>
    <li><a href="@Url.Action("Index", "Forum", new { category = Model.CategoryId })">@Model.CategoryName</a></li>
    <li><a href="@Url.Action("Forum", "Forum", new { id = Model.ForumId })">@Model.ForumName</a></li>
    <li class="active">@Model.Name</li>
</ol>

<div class="panel panel-primary">
    <div class="panel-heading">
        @Model.Name
    </div>
    <div class="panel-body">
        @if (Model.Page == 1)
        {
            @Html.Partial("PostPartial", Model.Post)
        }

        @if (Model.Posts.Any())
        {
            foreach (var post in Model.Posts)
            {
                @Html.Partial("PostPartial", post)
            }
        }
        else
        {
            <p class="forum-info-text alert alert-info">brak odpowiedzi w tym wątku</p>
        }
        
        @if (User.Identity.IsAuthenticated || Model.ForumAnonymousPosts)
        {
            @Html.Partial("PostCreatePartial", Model.PostCreate)
        }
        else
        {
            <p class="forum-info-text alert alert-warning">tylko zalogowani mogą dodawać posty</p>
        }
    </div>
</div>




<nav class="container" aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.Page > 1)
        {
        <li>
            <a href="@Url.Action("Thread", "Thread", new {id = Model.Id, page = Model.Page - 1})" aria-label="Previous">
                &laquo;
            </a>
        </li>
        }
        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            if (i == Model.Page)
            {
        <li class="active">
            <a href="@Url.Action("Thread", "Thread", new {id = Model.Id, page = i})" aria-hidden="true">
                @i
            </a>
        </li>
            }
            else
            {
        <li>
            <a href="@Url.Action("Thread", "Thread", new {id = Model.Id, page = i})" aria-hidden="true">
                @i
            </a>
        </li>
            }

        }
        @if (Model.Page < Model.PagesCount)
        {
        <li>
            <a href="@Url.Action("Thread", "Thread", new {id = Model.Id, page = Model.Page + 1})" aria-label="Next">
                &raquo;
            </a>
        </li>
        }
    </ul>
</nav>


<ul class="report-menu dropdown-menu">
    <li><a href="#" onclick="$('.report-menu').hide(); return false;">Anuluj</a></li>
</ul>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var clickPostId = 0;


        $(".reportClick").click(function (e) {

            clickPostId = $(e.target).attr('href').replace('#', '');

            if ($('.report-menu li').length == 1) {
                $.getJSON("/api/report/", function (data) {
                    var items = [];
                    $.each( data, function( key, val ) {
                        $(".report-menu").prepend(
                        '<li><a href="#" onclick=report('+val.Id+');return false;>' + val.Text + '</a></li>');
                    });
                });
            }

            $(".report-menu")
                .finish()
                .show(100)
            .css({
                top: e.pageY + "px",
                left: e.pageX + "px"
            });
        });
        
        function report(reasonId) {

            $.post("/api/report/"
                ,{ postId: clickPostId, reasonId: reasonId }
                ,function(data) {

                    alert(data);
                });
        }
    </script>
}