﻿@model XnForum.Services.Contracts.DTO.AdminNoteDto

@{
    ViewBag.Title = "Delete";
}

<h3>Na pewno chcesz usunąć dane ogłoszenie?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default"/> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
