﻿@model IEnumerable<XnForum.Services.Contracts.DTO.AdminNoteDto>

@{
    ViewBag.Title = "Index";
}

<h2>Ogłoszenia</h2>

<a role="button" class="btn btn-default btn-sm" href="@Url.Action("Create")">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj ogłoszenie
</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td class="td-buttons">
                <a role="button" class="btn btn-default btn-sm" href="@Url.Action("Edit", new {id = item.Id})">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edytuj
                </a>
                <a role="button" class="btn btn-default btn-sm" href="@Url.Action("Delete", new {id = item.Id})">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Usuń
                </a>
            </td>
        </tr>
    }

</table>
