﻿@model IList<string>
@{
    ViewBag.Title = "Index";
}

<h2>Tagi html dostępne w postach</h2>

<table class="table">
    @foreach (var tag in Model)
    {
        <tr>
            <td>
                @tag
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Tags"))
                {
                    @Html.Hidden("tag", tag)
                    <button class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Usuń
                    </button>
                }
            </td>
        </tr>
    }
    </table>


    @using (Html.BeginForm("Add", "Tags"))
    {
        <input type="text" name="tag" class="form-control" />
        <input type="submit" value="Dodaj" class="btn btn-default" />
    }

