﻿@using Microsoft.AspNet.Identity
@using NHibernate.Util
@using XnForum.UI.Web.Extensions
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Wiadomości", "Messages", "Message")
    </li>
    <li>
        <img src="/Content/Avatars/@User.Identity.GetAvatar()" class="userAvatarMini" />
    </li>
    <li>
        @Html.ActionLink(User.Identity.GetUserName(), "Account", "Account", new { login = User.Identity.Name }, htmlAttributes: new { title = "Manage" })
    </li>
    <li>
        @Html.ActionLink("Ustawienia", "Settings", "Account", new {}, htmlAttributes: new {title = "Ustawienia"})
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
</ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}

