﻿@model XnForum.Services.Contracts.DTO.ReportReasonDto

@{
    ViewBag.Title = "Details";
}

<h3>Szczegóły powodu zgłoszenia</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót", "Index")
</p>
