﻿@model IList<XnForum.Services.Contracts.DTO.ReportReasonDto>

@{
    ViewBag.Title = "Index";
}

<h3>Powody zgłoszeń</h3>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
