﻿@model IList<string>
@{
    ViewBag.Title = "Index";
}

<h2>Zakazane słowa</h2>

<table class="table">
    @foreach (var word in Model)
    {
        <tr>
            <td>
                @word
            </td>
            <td>
                @using (Html.BeginForm("Delete", "BadWords"))
                {
                    @Html.Hidden("text", word)
                    <button class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Usuń
                    </button>
                }
            </td>
        </tr>
    }
    </table>


    @using (Html.BeginForm("Add", "BadWords"))
    {
        <input type="text" name="text" class="form-control" />
        <input type="submit" value="Dodaj" class="btn btn-default" />
    }

