﻿@model XnForum.Services.Contracts.DTO.UserDto

@{
    ViewBag.Title = "Account";
}

<h3>Konto użytkownika @Model.Login</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            <img src="/Content/Avatars/@Model.Avatar" class="userAvatar" />
        </dd>
        
        <dt>
            akcje
        </dt>

        <dd>
            @Html.ActionLink("Napisz wiadomość", "Talk", "Message", new {login = Model.Login}, new {})
        </dd>

    </dl>
</div>
