﻿@model XnForum.Services.Contracts.DTO.Message.TalksListDto

@{
    ViewBag.Title = "Messages";
    XnForum.Services.Contracts.DTO.MessageHeaderDto messageHeaderModel = null;
}

<h3>Wiadomości</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => messageHeaderModel.UserLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => messageHeaderModel.ShortText)
        </th>
        <th>
            @Html.DisplayNameFor(model => messageHeaderModel.Date)
        </th>
    </tr>

    @foreach (var item in Model.Messages) {
        <tr>
            <td>
                <a href="@Url.Action("Account", "Account", new {login = item.UserLogin})">
                    @item.UserLogin
                </a>
            </td>
            <td>
                @if (item.New)
                {
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <strong>
                        @Html.ActionLink(item.ShortText, "Talk", new {login = item.UserLogin})
                    </strong>
                }
                else
                {
                    @Html.ActionLink(item.ShortText, "Talk", new { login = item.UserLogin })
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }

</table>

<nav class="container" aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.Page > 1)
        {
            <li>
                <a href="@Url.Action("Messages", "Message", new { page = Model.Page - 1})" aria-label="Previous">
                    &laquo;
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active">
                    <a href="@Url.Action("Messages", "Message", new { page = i})" aria-hidden="true">
                        @i
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("Messages", "Message", new { page = i})" aria-hidden="true">
                        @i
                    </a>
                </li>
            }

        }
        @if (Model.Page < Model.PagesCount)
        {
            <li>
                <a href="@Url.Action("Messages", "Message", new { page = Model.Page + 1})" aria-label="Next">
                    &raquo;
                </a>
            </li>
        }
    </ul>
</nav>
