﻿@model XnForum.Services.Contracts.DTO.MessageTalkDto

@{
    ViewBag.Title = "Talk";
}

<h3>Rozmowa z użytkownikiem @Model.UserLogin</h3>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.MessageCreate.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MessageCreate.Text, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MessageCreate.Text, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Wyślij wiadomość" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <hr/>
</div>

@if (Model.Messages.Any())
{
    <table class="table">
        @foreach (var message in Model.Messages)
        {
            <tr>
                <td>
                    @Html.ActionLink(message.FromUserLogin, "Account", "Account", new {login = message.FromUserLogin}, new {})
                </td>
                <td>
                    @if (message.New)
                    {
                        <strong>
                            @message.Text
                        </strong>
                    }
                    else
                    {
                        @message.Text
                    }
                </td>
                <td>
                    @message.Date
                </td>
                <td class="td-buttons">
                    @using (Html.BeginForm("DeleteMessage", "Message", new {login = Model.UserLogin, page = Model.Page}))
                    {
                        <input type="hidden" name="messageId" value="@message.Id"/>
                        <button type="submit" name="action:MessageDelete" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <p class="forum-info-text alert alert-info">Brak wiadomości, napisz coś</p>
}


<nav class="container" aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.Page > 1)
        {
            <li>
                <a href="@Url.Action("Talk", "Message", new { login = Model.UserLogin, page = Model.Page - 1})" aria-label="Previous">
                    &laquo;
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active">
                    <a href="@Url.Action("Talk", "Message", new { login = Model.UserLogin, page = i})" aria-hidden="true">
                        @i
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("Talk", "Message", new { login = Model.UserLogin, page = i})" aria-hidden="true">
                        @i
                    </a>
                </li>
            }

        }
        @if (Model.Page < Model.PagesCount)
        {
            <li>
                <a href="@Url.Action("Talk", "Message", new { login = Model.UserLogin, page = Model.Page + 1})" aria-label="Next">
                    &raquo;
                </a>
            </li>
        }
    </ul>
</nav>