﻿@using XnForum.UI.Web.Extensions
@model XnForum.Services.Contracts.DTO.Search.SearchFormDto
@{
    ViewBag.Title = "Index";
}

<h3>Wyszukiwarka</h3>

@using (Html.BeginForm("Search", "Search", FormMethod.Get))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ForumId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ForumId, Model.Forums.ToSelectList(x => x.Id, x => x.CategoryName + " / " + x.Name), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ForumId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Szukaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}
