﻿@using XnForum.Services.Contracts.Enums
@using XnForum.UI.Web.Extensions
@model XnForum.Services.Contracts.DTO.PostDisplayDto

<div class="row post">
    <div class="postDiv container">
        <div class="col-md-3">
            @if (Model.UserId != null)
            {
            <a href="@Url.Action("Account", "Account", new {login = Model.UserLogin})">@Model.UserLogin</a><br />
            <a href="@Url.Action("Account", "Account", new {login = Model.UserLogin})">
                <img src="/Content/Avatars/@Model.UserAvatar" class="userAvatar" />
            </a>
            }
            else
            {
            <span>anon</span><br />
            <img src="/Content/Avatars/unknown.png" class="userAvatar" />
            }
            <br />
        </div>
        <div class="postContent col-md-9">
            <span>
                @Html.DisplayNameFor(model => model.Date)

                @Html.DisplayFor(model => model.Date)
            </span>
            <br />
            @if (Model.Status == PostStatusEnum.Ok || Model.Status == PostStatusEnum.EditedByModerator)
            {
                @Html.Raw(Model.Text.AddHtmlEmoticons())

                if (Model.Status == PostStatusEnum.EditedByModerator)
                {
                <br />
                <span class="text-danger">Post edytowany przez moderatora</span>
                }
            }
            else if (Model.Status == PostStatusEnum.DeletedByModerator)
            {
            <span class="text-danger">Post usunięty przez moderatora</span>
            }
            else if (Model.Status == PostStatusEnum.DeletedByUser)
            {
            <span class="text-danger">Post usunięty przez użytkownika</span>
            }
        </div>
    </div>
</div>
