﻿@using XnForum.UI.Web.Extensions
@model XnForum.Services.Contracts.DTO.Search.SearchResultDto
@{
    ViewBag.Title = "Search";
}

<h3>Wyszukiwarka</h3>

@using (Html.BeginForm("Search", "Search", FormMethod.Get))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ForumId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ForumId, Model.Forums.ToSelectList(x => x.Id, x => x.CategoryName + " / " + x.Name), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ForumId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Szukaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<h3>Wyniki wyszukiwania</h3>
<h4>Wątki:</h4>
@foreach (var thread in Model.Threads)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            @thread.Name
        </div>
        <div class="panel-body">
            @Html.Partial("PostPartial", thread.Post)
            <a href="@Url.Action("Thread", "Thread", new {id= thread.Id})" role="button" class="btn btn-default">Przejdź</a>
        </div>
    </div>
}
@if (!Model.Threads.Any())
{
    <p class="forum-info-text alert alert-warning">Nie znaleziono wątków</p>
}

<h4>Posty</h4>
@foreach (var post in Model.Posts)
{
    @Html.Partial("PostPartial", post)
    <a href="@Url.Action("Thread", "Thread", new {id= post.ThreadId})" role="button" class="btn btn-default">Przejdź</a>
}
@if (!Model.Posts.Any())
{
    <p class="forum-info-text alert alert-warning">Nie znaleziono postów</p>
}
