﻿@model XnForum.Services.Contracts.DTO.ForumDto

@{
    ViewBag.Title = "Forum";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Forum")">Główna</a></li>
    <li><a href="@Url.Action("Index", "Forum")#cat_@Model.CategoryId">@Model.CategoryName</a></li>
    <li class="active">@Model.Name</li>
</ol>

<div class="panel panel-primary">
    <div class="panel-heading">
        @Model.Name
    </div>
    <div class="panel-body">
        @Html.ActionLink("Dodaj wątek", "Create", "Thread", new { id = Model.Id }, new { @class = "btn btn-default" })

        @if (Model.Threads.Any())
        {
            <div class="table table-responsive table-list">
                <table class="table table-striped table-responsive">
                    @foreach (var thread in Model.Threads)
                    {
                        <tr>
                            <td class="col-md-10">
                                <span class="glyphicon glyphicon-list"></span>&nbsp;
                                @Html.ActionLink(thread.Name, "Thread", "Thread", new {id = thread.Id }, null)
                            </td>
                            <td class="col-md-2">
                                @thread.UserLogin
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <p>brak wątków w tym forum</p>
        }
    </div>
</div>
<nav class="container" aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.Page > 1)
        {
            <li>
                <a href="@Url.Action("Forum", "Forum", new {id = Model.Id, page = Model.Page - 1})" aria-label="Previous">
                    &laquo;
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active">
                    <a href="@Url.Action("Forum", "Forum", new {id = Model.Id, page = i})" aria-hidden="true">
                        @i
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("Forum", "Forum", new {id = Model.Id, page = i})" aria-hidden="true">
                        @i
                    </a>
                </li>
            }

        }
        @if (Model.Page < Model.PagesCount)
        {
            <li>
                <a href="@Url.Action("Forum", "Forum", new {id = Model.Id, page = Model.Page + 1})" aria-label="Next">
                    &raquo;
                </a>
            </li>
        }
    </ul>
</nav>

