﻿@model XnForum.Services.Contracts.DTO.AllForumDataDto

@{
    ViewBag.Title = "Index";
}

@if (Model.AdminNotes.Any())
{
    <div>
        @foreach (var note in Model.AdminNotes)
        {
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info:</span>
            @Html.Raw(note.Text)
        </div>
        }
    </div>
}


@foreach (var category in Model.Categories)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            @category.Name
        </div>
        <div class="panel-body">
            <div class="table table-responsive table-list">
                <table class="table table-striped table-responsive">
                    @foreach (var forum in category.Forums)
                    {
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-th-list"></span>&nbsp;
                                @Html.ActionLink(forum.Name, "Forum", new {id = forum.Id})
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}
