﻿@using XnForum.UI.Web.Extensions
@model XnForum.Services.Contracts.DTO.Moderator.ModeratorCreateDto

@{
    ViewBag.Title = "Create";
}

<h3>Dodanie moderatora</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.UserId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.UserId, Model.Users.ToSelectList(x => x.Id, x => x.Login), new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.UserId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ForumId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ForumId, Model.Forums.ToSelectList(x => x.Id, x => x.CategoryName + "/" + x.Name), new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ForumId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
