﻿@model XnForum.Services.Contracts.DTO.Moderator.ModeratorDisplayDto

@{
    ViewBag.Title = "Details";
}

<h3>Szczegóły moderatora</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserLogin)
        </dt>

        <dd>
            @Html.ActionLink(Model.UserLogin, "Account", "Account", new { login = Model.UserLogin, Area = "" }, new { })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForumName)
        </dt>

        <dd>
            @Html.ActionLink(Model.ForumName, "Thread", "Thread", new { id = Model.ForumId, Area = "" }, new { })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Powrót", "Index")
</p>
