﻿@model IEnumerable<XnForum.Services.Contracts.DTO.Moderator.ModeratorDisplayDto>

@{
    ViewBag.Title = "Index";
}

<h3>Moderatorzy</h3>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(item.UserLogin, "Account", "Account", new {login = item.UserLogin, Area = "" }, new {})
        </td>
        <td>
            @Html.ActionLink(item.ForumName, "Thread", "Thread", new {id = item.ForumId, Area = "" }, new {})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", new {id = item.Id}) |
            @Html.ActionLink("Usuń", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
